
/* Splash Page */
.splash {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

#splashImg {
  min-height: 100%;
  max-width: 100%;
  object-fit: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.splashcontent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.comingsoon {
  background-color: #b8dde1;
  border-radius: 40px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 5em;
  padding-right: 5em;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}

.splash-title {
  background-color: #d73f09;
  border-radius: 50px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
}

.splash-title .osu {
  color: white;
  font-size: 5em;
}

.splash-title .cm {
  color: black;
  font-size: 2em;
  margin-bottom: 0.3em;
}

.splash-options {
  background-color: white;
  border-radius: 40px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  margin-left: 3em;
  margin-right: 3em;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 0.3em;
  cursor: pointer;
}

#invalidNotifyEmailAlert { display: none; }
#notifySuccessAlert { display: none; }
